server:
  port: 8080

spring:
  devtools:
    restart:
      enabled: false

  datasource:
    url: jdbc:postgresql://dpg-d45714ndiees738igp6g-a:5432/seadb
    username: seadb_user
    password: QurjNilGVZcPdTSPU4GbpGDjIQHR50zz
    driver-class-name: org.postgresql.Driver
    initialize: true

  jpa:
    generate-ddl: true
    
    hibernate:
      ddl-auto: update

  # ---CONFIGURAÇÃO DE EMAIL ---
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
      