server:
  port: 8080

spring:
  datasource:
    # Esta linha vai ler a variável que criamos na Etapa 2
    url: "jdbc:postgresql://postgres:hYSKsRJAXAlPCNdloHdvGDIzKbNOawof@postgres.railway.internal:5432/railway"
    
    # Esta linha é necessária por causa da etapa anterior
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
